.menu
{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left ;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration:none ;
    color: #f60fbc;
    font-family: Arial;
    font-weight: bold;

}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #b36ba8;
    margin-top: 13px;
    color: #f171c7;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height:40px;
    background: #b36ba8;
    border: 2px solid #f60fbc;
    margin-top: 13px ;
    color: #e591ba;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

#square{

          width: 200px;
          height: 200px;
          background-color: #b36ba8 ;
          border-radius: 50px;
}


nav{
  display: flex;
 justify-content: space-between;
}


ul{
  display: flex;
  list-style: none;
}


li{
  padding: 50px;
}
#waitlist{
  width: 100px;
}
